body {
  max-width: 520px;
  margin: 0 auto;
}

p {
  font-size: 20px;
}

label {
  font-size: 20px;
}

img {
  height: 20vw;
  display: block;
  margin: auto;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #aaa;
  background: #fff;
}

button {
  margin-top: 24px;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  color: white;
  background: purple;
  cursor: pointer;
}

#result {
  margin: 30px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
  font-size: 25px;
  color: purple;
}
